# test環境では使わないが、ローカルでDockerビルドの検証で使う用に用意
# （検証で使う場合はGitHubActionsのsecretsを.envの設定値に変更）

### コンテナ名の接頭文字
COMPOSE_PROJECT_NAME=

### APPの設定
APP_PORT=

### DBの設定
DB_HOST=
DB_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

### LINE Webhookの設定（テスト環境用アカウント）
LINE_TOKEN=
LINE_SECRET=

### ログ出力先の設定
LOG_FOLDER=

### CORS設定（将来のフロントエンドからのアクセス用）
CORS_ALLOW_ORIGIN=
